<div class="nav">
  <div class="nav-left">
    {{link-to "Back to Cohort" "dashboard.cohort.detail" model class="nav-item"}}
  </div>
</div>

{{#center-grid}}
  <div class="panel is-fullwidth">
    <div class="card-header">
      <h2 class="card-header-title">
          Instructors
        </h2>
    </div>

    {{#each model.instructors as |instructor|}}
      <div class="panel-block">
        <p class="level is-mobile">
          <span class="level-left">{{instructor.user.login}}</span>
        </p>
      </div>
    {{/each}}
  </div>

  <div class="panel is-fullwidth">
    <div class="card-header">
      <h2 class="card-header-title">
          Instructor Invites
        </h2>
    </div>

    {{#each model.invites as |invite|}}
      {{#if invite.instructor}}
        <div class="panel-block">
          <p class="level is-mobile">
            <span class="level-left">{{invite.login}}</span>
            <span class="level-right">
                <button class="button is-danger is-outlined" onclick={{action "uninvite" invite}}>Uninvite</button>
              </span>
          </p>
        </div>
      {{/if}}
    {{/each}}

    <div class="panel-block">
      {{#simple-form onsubmit=(action "saveInvite" model true) as |newInvite reset|}}
        <label for="instructor-invite-login">Invite an Instructor</label>
        <div class="control has-addons is-fullwidth">
          <button class="button" type="button" onclick= {{action reset}}>Clear</button> {{bulma-input value=newInvite.login oninput=(action (mut newInvite.login) value="target.value") placeholder="Github Username" class="is-expanded" id="instructor-invite-login"}}

          <button class="button is-primary">Invite</button>
        </div>
      {{/simple-form}}
    </div>
  </div>

  <div class="panel is-fullwidth">
    <div class="card-header">
      <h2 class="card-header-title">
          Students
        </h2>
    </div>

    {{#each model.students as |student|}}
      <div class="panel-block">
        <p class="level is-mobile">
          <span class="level-left">{{student.user.login}}</span>
        </p>
      </div>
    {{/each}}
  </div>

  <div class="panel is-fullwidth">
    <div class="card-header">
      <h2 class="card-header-title">
          Student Invites
        </h2>
    </div>

    {{#each model.invites as |invite|}}
      {{#unless invite.instructor}}
        <div class="panel-block">
          <p class="level is-mobile">
            <span class="level-left">{{invite.login}}</span>
            <span class="level-right">
                <button class="button is-danger is-outlined" onclick={{action "uninvite" invite}}>Uninvite</button>
              </span>
          </p>
        </div>
      {{/unless}}
    {{/each}}

    <div class="panel-block">
      {{#simple-form onsubmit=(action "saveInvite" model false) as |newInvite reset|}}
        <label for="student-invite-login">Invite a Student</label>
        <div class="control has-addons is-fullwidth">
          <button class="button" type="button" onclick= {{action reset}}>Clear</button> {{bulma-input value=newInvite.login oninput=(action (mut newInvite.login) value="target.value") placeholder="Github Username" class="is-expanded" id="student-invite-login"}}

          <button class="button is-primary">Invite</button>
        </div>
      {{/simple-form}}
    </div>
  </div>
{{/center-grid}}
