<div class="nav has-shadow">
  <div class="nav-left">
    {{link-to "Student Notes" "cohort.lesson-edit.index" model class="nav-item"}}
    {{link-to "Instructor Notes" "cohort.lesson-edit.instructor-notes" model class="nav-item"}}
    {{link-to "Details" "cohort.lesson-edit.detail" model class="nav-item"}}
    <div class="nav-item">
      {{link-to "Back To Cohort" "cohort.detail" model.cohort class="button"}}
    </div>
  </div>
</div>

{{outlet}}
