<div class="app">
  <div class="hero is-bold is-primary is-info">
    <div class="hero-head">
      {{#bulma-nav hasShadow=true}}
        {{#bulma-nav-left}}{{/bulma-nav-left}}

        {{#bulma-nav-center}}{{/bulma-nav-center}}

        {{#bulma-nav-toggle onmousedown=(action toggleProperty 'toggleNav')}}
          <span></span>
          <span></span>
          <span></span>
        {{/bulma-nav-toggle}}

        {{#bulma-nav-right isMenu=true}}
          {{#if session.isAuthenticated}}
            {{link-to "Cohorts" "dashboard.cohort" class="nav-item"}}
            <a href="#" class="nav-item" onclick= {{action "logout"}}>Logout</a>
          {{else}}
            <div class="nav-item">
              <a href="#" class="button is-light is-outlined" onclick= {{action "login"}}>
                <span class="icon"><span class="fa fa-github"></span></span>
                <span>Login With GitHub</span>
              </a>
            </div>
          {{/if}}
        {{/bulma-nav-right}}
      {{/bulma-nav}}
    </div>

    {{#if toggleNav}}
      {{#bulma-menu isHiddenDesktop=true isHiddenTablet=true isHiddenWidescreen=true}}
        {{#bulma-menu-list}}
          {{#if session.isAuthenticated}}
            <li>
              {{link-to "Cohorts" "dashboard.cohort" class="nav-item"}}</li>
            <li>
              <a href="#" class="nav-item" onclick= {{action "logout"}}>Logout</a>
            </li>
          {{else}}
            <li>
              <a href="#" class="button is-light is-outlined is-fullwidth" onclick= {{action "login"}}>
                <span class="icon"><span class="fa fa-github"></span></span>
                <span>Login With GitHub</span>
              </a>
            </li>
          {{/if}}
        {{/bulma-menu-list}}
      {{/bulma-menu}}
    {{/if}}
  </div>

  {{alert-messages}}

  <div class="app__content">{{outlet}}</div>
</div>
