<div class="nav">
  <div class="nav-left">
    {{link-to "Add New Lesson" "cohort.new-lesson" model class="nav-item"}}
    {{link-to "Manage Students" "cohort.invite" model class="nav-item"}}
  </div>
</div>

<div class="columns is-grow">
  <div class="column is-3">
    <div class="panel is-fullwidth is-fullheight">
      <div class="card-header">
        <h2 class="card-header-title">
          {{ model.campus }} - {{ model.name }}
        </h2>
      </div>

      {{#each model as |cohort|}}
        <div class="panel-block">
          <p class="level is-mobile">
            <span class="level-left">{{cohort.name}} - {{cohort.startDate}}</span>
            <span class="level-right">
              {{link-to "More" "cohort.detail" cohort}}
            </span>
          </p>
        </div>
      {{/each}}
    </div>
  </div>
</div>
