{{#simple-form startingValues=model onsubmit=(action "saveLesson" model) class="columns is-grow" as |lesson reset|}}
  <div class="column is-6">
    <div class="is-fullheight is-fullwidth card flex-vertical">
      <div class="card-header">
        <h2 class="card-header-title">Student Notes - Week {{lesson.week}} - Day {{lesson.day}}</h2>
      </div>

      {{ivy-codemirror class="textarea is-grow"
        options=(hash lineNumbers=true mode="gfm" theme="agate" keyMap="sublime"
          extraKeys=(hash Cmd-S=(action "saveLesson" model lesson)))
        value=lesson.publicNotes valueUpdated=(action (mut lesson.publicNotes))}}

      <div class="panel-block">
        <div class="level is-mobile">
          <div class="level-left">
            <button class="button is-fullwidth" {{action reset}}>Reset</button>
          </div>
          <div class="level-middle">
            <button class="button is-fullwidth" {{action "copyFrom" model "instructorNotes" "publicNotes"}}>Copy From Instructor Notes</button>
          </div>
          <div class="level-right">
            <button class="button is-primary is-fullwidth">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-6 is-scrollable">
    <div class="section content">
      {{md-text text=lesson.publicNotes linkify=true linkTarget="_blank"}}
    </div>
  </div>
{{/simple-form}}
